.info {
  display: flex;
  flex-direction: column;
  color: goldenrod;
}

.info nav {
  display: flex;
  justify-content: flex-end;
}

.info button {
  background-color: #16325b;
  color: #e9efec;
  width: 50px;
  margin: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.info h1 {
  text-align: center;
  margin: 0;
}

.info ul {
  display: flex;
  flex-direction: column;
  padding: 0 3rem;
}

.info li {
  color: #76dbd1;
  padding: 0.5rem;
}
