.tiles {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
}

.tile {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 120px;
  height: 120px;
  background-color: green;
  border-radius: 10px;
  margin: 0.5rem;
  cursor: pointer;
}

.icon {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 120px;
  height: 120px;
  background-color: green;
  border-radius: 10px;
  margin: 0.5rem;
}

.icon p {
  margin: 0;
}

.tile p {
  margin: 0;
}

.tile.active {
  background-color: orange;
}

.title {
  font-size: medium;
}

.extraTitle {
  font-size: small;
}

.extraValue {
  font-size: small;
}
