.tiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* color: #d5ed9f; */
}

.tile {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 115px;
  height: 115px;
  background-color: #00712d;
  border-radius: 10px;
  margin: 0.3rem;
  cursor: pointer;
}

.icon {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 115px;
  height: 115px;
  background-color: #00712d;
  border-radius: 10px;
  margin: 0.3rem;
}

.icon p {
  margin: 0;
}

.tile p {
  margin: 0;
}

.tile.active {
  background-color: #ff9100;
}

.tile.notSafe {
  background-color: red;
}

.tile.notSafe.active {
  background-color: red;
}

.title {
  font-size: medium;
}

.extraTitle {
  font-size: small;
}

.extraValue {
  font-size: small;
}
