.kp {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 115px;
  height: 115px;
  background-color: #16325b;
  color: #e9efec;
  border-radius: 10px;
  margin: 0.3rem;
}

@media (max-width: 380px) {
  .kp {
    width: 110px;
    height: 110px;
  }
}
