.nav {
  display: flex;
  justify-content: flex-end;
}

.nav button {
  background-color: green;
  width: 50px;
  margin: 0.5rem 30px;
  padding: 0.5rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.nav svg {
  color: whitesmoke;
}
