.nav {
  display: flex;
  flex-direction: column;
  color: goldenrod;
}

.nav h2 {
  text-align: center;
  margin: 0;
}

.nav nav {
  display: flex;
  justify-content: space-between;
}

.nav button {
  background-color: #16423c;
  color: #e9efec;
  width: 50px;
  margin: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}
