.astro {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 115px;
  height: 115px;
  background-color: #00712d;
  border-radius: 10px;
  margin: 0.3rem;
}

.astro p {
  margin: 0;
}

.extraTitle {
  font-size: small;
}

.extraValue {
  font-size: small;
}

@media (max-width: 380px) {
  .astro {
    width: 110px;
    height: 110px;
  }

  .astro p {
    text-align: center;
  }
}
