.buttons {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.buttons button {
  background-color: green;
  color: aliceblue;
  padding: 0.5rem;
  width: 100px;
  margin: 0 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button.active {
  background-color: orange;
}
