.settings {
  display: flex;
  flex-direction: column;
  color: goldenrod;
}

.settings h1 {
  text-align: center;
}

.settings p {
  padding: 2rem;
}

.settings nav {
  display: flex;
  justify-content: flex-end;
}

.settings button {
  background-color: green;
  width: 50px;
  margin: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}
